.active {
    color: white !important;
    background-color: rgba(13, 110, 253, 0.75) !important;
    border-radius: 8px;

}

.nav-link:hover {
    color: white !important;
    background-color: rgba(13, 110, 253, 0.75);
    border-radius: 8px;
}

#label {
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 46%);
    display: none;
}

@media (max-width:991px) {
    .container-fluid #sid {
        margin-left: -760px;
        position: fixed;
        transition: 0.8s;
        z-index: 1;
        box-shadow: 9px 0px 46px #727070;
    }

    .container-fluid #menu:checked+#sid {
        margin-left: 0px;
    }

    #label {
        display: block;
    }
}